body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.contenedor {
  max-width: 800px;
  margin: 60px auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

h1 {
  color: #232f3e;
}

.tarjeta {
  margin-top: 25px;
  padding: 20px;
  background-color: #eef3ff;
  border-radius: 10px;
}
